/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
h4,
h5,
h6 {
  font-size: 2rem;
}
nav {
  display: flex;
  flex-direction: column;
  background-color: #0079D3;
}
@media (min-width: 800px) {
  nav {
    flex-direction: row;
    height: 6.5rem;
  }
}
nav .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 1000px) {
  nav .logo {
    width: 65%;
  }
}
nav .logo img {
  width: 30%;
  margin: 0 auto;
}
@media (min-width: 800px) {
  nav .logo img {
    width: 30%;
  }
}
nav .links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 10%;
}
@media (min-width: 800px) {
  nav .links {
    align-items: center;
    padding: 0 5% 0 0;
  }
}
nav .links a {
  text-decoration: none;
  color: #ffb000;
  font-size: 2rem;
}
nav .links a:hover {
  color: #00a6a5;
}
.about-header {
  display: inline-block;
  border: 2px solid black;
  padding-top: 1%;
  width: 100%;
  padding-bottom: 2%;
}
.about-header h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.about-header .headerpara {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: orange;
  position: relative;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 5px solid black;
  padding-right: 1%;
  padding-left: 1%;
}
.body h2 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  border: 2px solid red;
  padding: 1.3%;
}
.body .bodypara {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid purple;
  padding: 2%;
}
.home-header {
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .home-header {
    flex-direction: row;
  }
}
@media (min-width: 1000px) {
  .home-header {
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
  }
}
.home-header .home-header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
  text-align: center;
}
@media (min-width: 800px) {
  .home-header .home-header-text {
    width: 48%;
    padding: 3rem 0 0 5%;
  }
}
.home-header .home-header-text a {
  text-decoration: none;
  color: #ff4500;
  display: block;
  text-align: center;
}
.home-header .home-header-text a:hover {
  color: #ffb000;
}
.home-header .home-header-text .call-to-action {
  margin: 2rem;
  width: 80%;
  height: 5rem;
  background-color: #2492DF;
  border-color: #ffb000;
  transition-duration: 0.4s;
  border-radius: 15px;
}
.home-header .home-header-text .call-to-action:hover {
  background-color: #ff4500;
}
.home-header .home-header-text .call-to-action a {
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: bold;
  color: #ffb000;
  letter-spacing: 0.2rem;
}
.home-header .home-header-img {
  display: flex;
  align-items: center;
  padding: 1.6rem 0;
}
@media (min-width: 800px) {
  .home-header .home-header-img {
    justify-content: center;
    width: 48%;
  }
}
.home-header .home-header-img img {
  margin: 0 auto;
  width: 50%;
}
@media (min-width: 800px) {
  .home-header .home-header-img img {
    width: 90%;
  }
}
.home-top-content {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 5%;
  margin-top: 2rem;
  background-color: #0DC5AD;
  border-top: 2px solid #ff4500;
}
@media (min-width: 800px) {
  .home-top-content {
    flex-direction: row;
    justify-content: space-between;
  }
}
.home-top-content .whatWeDo {
  padding-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .home-top-content .whatWeDo {
    width: 48%;
  }
}
.home-top-content .whatWeDo h2 {
  padding: 1rem;
  color: #ffb000;
  font-weight: bold;
}
.home-top-content .howWeDoIt {
  padding-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .home-top-content .howWeDoIt {
    width: 48%;
  }
}
.home-top-content .howWeDoIt h2 {
  padding: 1rem;
  color: #ffb000;
  font-weight: bold;
}
.home-bot-content {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 5%;
  margin-bottom: 2rem 0;
  background-color: #00a6a5;
  border-top: 2px solid #ff4500;
  border-bottom: 2px solid #ff4500;
}
@media (min-width: 800px) {
  .home-bot-content {
    flex-direction: row;
    justify-content: space-between;
  }
}
.home-bot-content .whyWeDoIt {
  padding-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .home-bot-content .whyWeDoIt {
    width: 48%;
  }
}
.home-bot-content .whyWeDoIt h2 {
  padding: 1rem;
  color: #ffb000;
  font-weight: bold;
}
.home-bot-content .howYouUseIt {
  padding-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .home-bot-content .howYouUseIt {
    width: 48%;
  }
}
.home-bot-content .howYouUseIt h2 {
  padding: 1rem;
  color: #ffb000;
  font-weight: bold;
}
.bottomnav {
  display: flex;
  border: 2px solid gray;
}
