.container {
    background-color: #CCD1D7;
}

.about-header {
    display: inline-block; 
    border: 3px solid black;
    border-radius: 1rem;
    margin: 0 0 1rem 0;
    padding-top: 1%;
    width: 100%;
    padding-bottom: 2%;
    h1 {
        display: flex;
        justify-content: center;
        font-weight: bold;
        color: black;
            @media (max-width: 636px){
                position: relative;
                left: 9rem;
                max-width: 70%;
            }
    }//h1
    .headerpara {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        position: relative;
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: #FFFFFF;
        border: 1px solid grey;
        border-radius: 1.5rem;
        padding: 2%;
    }//.headerpara
}//.about-header
.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 3px solid black;
    border-radius: 1rem;
    padding-right: 1%;
    padding-left: 1%;
        @media @tablet {
        }
    div {
        display: flex;
    }
    h2 {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;
        padding: 1.3%;
        color: @mango;
        font-weight: bold;
        padding: 0 0% 0 0%;
            @media @tablet {
            }
    }//h2
    .bodypara {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: #FFFFFF;
        border: 1px solid grey;
        border-radius: 1.5rem;
        padding: 2%;
            @media @tablet {
            }
    }//.bodypara
}//
.container{
    background-color: @redditGrey;
}
.groupmem1 {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    max-height: 10rem;
    padding: 2%;
    border-radius: 1.5rem;
    margin-right: 0%;
        @media @tablet {
            display: none;
        }
}
.groupmem2 {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    max-height: 10rem;
    padding: 2%;
    border-radius: 1.5rem;
    margin-left: 0%;
        @media @tablet {
            display: none;
        }
}
.groupmem3 {
    max-width: 30%;
    max-height: 10rem;
    padding: 2%;
    border-radius: 1.5rem;
    margin-right: 0;
        @media @tablet {
            display: none;
        }
}
.groupmem4 {
    max-width: 30%;
    max-height: 10rem;
    padding: 2%;
    border-radius: 1.5rem;
    margin-left: 0%;
        @media @tablet {
            display: none;
        }
}
.groupmem5 {
    max-width: 30%;
    max-height: 10rem;
    padding: 2%;
    border-radius: 1.5rem;
    margin-right: 0%;
        @media @tablet {
            display: none;
        }
}
.groupmem6 {
    max-width: 30%;
    max-height: 10rem;
    padding: 2%;
    border-radius: 1.5rem;
    margin-right: 0%;
        @media @tablet {
            display: none;
        }
}
.groupmem7 {
    max-width: 30%;
    max-height: 10rem;
    padding: 2%;
    border-radius: 1.5rem;
    margin-left: 0%;
        @media @tablet {
            display: none;
        }
}
.groupmem8 {
    max-width: 30%;
    max-height: 10rem;
    padding: 2%;
    border-radius: 1.5rem;
    margin-right: 0%;
        @media @tablet {
            display: none;
        }
}
.groupmem9 {
    max-width: 30%;
    max-height: 10rem;
    padding: 2%;
    border-radius: 1.5rem;
    margin-left: 0%;
        @media @tablet {
            display: none;
        }
}
.groupmem10 {
    max-width: 30%;
    max-height: 10rem;
    padding: 2%;
    border-radius: 1.5rem;
    margin-left: 0%;
        @media @tablet {
            display: none;
        }
}
