.contentBox(@bg, @radius){
    padding-bottom: 1.6rem;
    display: flex;
    flex-direction: column;
    background-color: @bg;
    border-radius: @radius;
    text-align: center;
    @media @tablet{
        width: 48%;
        padding: 1.6rem;
        margin: 0;
    }//.contentBox-tablet
    @media @desktop{
        width:45%;
    }//.contentBox-desktop
}//.contentBox