nav {
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    padding: 1.3%;
}
.topnav {
    display: flex;
    border: 2px solid green; 
}
.bottomnav {
    display: flex;
    border: 2px solid gray;
}