////primary colors
@orangered: #ff4500;
@mint: #0DC5AD;
@blue: #2492DF;

/// Secondary colors
@yellow: #ffca00;
@mango: #ffb000;
@orange: #ff8717;
@teal: #00a6a5;
@alienBlue: #0079D3;

/// Background-Colors
@backgroundgrey: #BFC3C9;

/// media
@tablet: ~"(min-width: 800px)";
@desktop: ~"(min-width: 1000px)";