////primary colors
@orangered: #ff4500;
@mint: #0DC5AD;
@blue: #2492DF;

/// Secondary colors
@yellow: #ffca00;
@mango: #ffb000;
@orange: #ff8717;
@teal: #00a6a5;
@alienBlue: #0079D3;
@redditGrey: #DAE0E6;
@offWhite: #F8F9FA;

/// Background-Colors
@backgroundgrey: #BFC3C9;

/// media
@phone: ~"(min-width: 501px)";
@tablet: ~"(min-width: 800px)";
@desktop: ~"(min-width: 1000px)";

//font
@main-font: 'Tomorrow', sans-serif;

//color assignments

//nav bar
@nav-bg: @alienBlue;
@nav-a: @mango;
@nav-aHover: @teal;

//home page
@title-a: @orangered;
@title-aHover: @mango;

@button-bg: @blue;
@button-border: @redditGrey;
@button-borderHover: @orangered;
@button-bgHover: @mango;
@button-a: @redditGrey;
@button-aHover: @orangered;

@content-border: @redditGrey;

@home-top-bg: @redditGrey;
@home-contentBox-Top: @offWhite;

@home-h2: @mango;

@home-bot-bg: @offWhite;
@home-contentBox-Bot: @redditGrey;
//contact page
@contactCont-bg: @offWhite;
@contactBox-bg: @offWhite;
@contact-h1: @orangered;
@label: @orangered;